# Libraries

In [4]:
import os
import sys

current_dir = os.getcwd()
resources_folder = os.path.join(current_dir, '..', 'resources')
sys.path.append(resources_folder)

os.listdir()

['1_validate_initial_files.ipynb']

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from dotenv import load_dotenv

import snowflake_connector as sc

# Snowflake Connection

In [7]:
# sf_conn = sc.snowflake_conn(user = "W515059")

# Data prev 2022

## Pull new data

In [30]:
# query = ''' 
#         SELECT "SETID", "LN_LEXISNEXIS_SCORE_CURRENT_N"
#         FROM "DATAIKU_RAW"."RISK_FRAUD"."RDS_NAF_PM_EXCL_ACCOUNTS_WOLN_RETRAIN_TEST_LARGE_CL_WOCA_SCORED" AS SCR
#         LIMIT 10;
#     '''

# cur = sf_conn.cursor()
# cur.execute(query)
# df = pd.DataFrame.from_records(iter(cur), columns=[x[0] for x in cur.description])

# print(df.head())

## Pull new data (prev 2022)

In [10]:
df_new_2021 = pd.read_csv("../data_sources/new_data/final_wex_11529_sba21_sbfe_sbfescore_pr3.csv")


df_new_2021 = df_new_2021[["accountnumber",
                            "name",
                            "b2bcnt2y",
                            "sbfecardcount", 
                            "sbfeaccountcount",
                            "sbfecurrentlimitlineamt",
                            "sbfecurrentlimitoelineamt",
                            "sbfecurrentlimitcardamt",
                            "sbfelimitrevamt12m",
                            "sbfeopenlinecount",
                            "sbfeopenoelinecount",
                            "sbfeopencardcount",
                            "b2bbalmax2y",
                            "firmreportedsales",
                            "model2score", 
                            "model2rc1",
                            "model2rc2",
                            "model2rc3",
                            "model2rc4",
                            "model2rc5",
                            "model2rc6"]]

df_new_2021.head()

C:\Users\W515059\AppData\Local\Temp\ipykernel_22320\1692510171.py:1: DtypeWarning: Columns (106,125) have mixed types. Specify dtype option on import or set low_memory=False.
  df_new_2021 = pd.read_csv("../data_sources/new_data/final_wex_11529_sba21_sbfe_sbfescore_pr3.csv")

,accountnumber,name,b2bcnt2y,sbfecardcount,sbfeaccountcount,sbfecurrentlimitlineamt,sbfecurrentlimitoelineamt,sbfecurrentlimitcardamt,sbfelimitrevamt12m,sbfeopenlinecount,...,sbfeopencardcount,b2bbalmax2y,firmreportedsales,model2score,model2rc1,model2rc2,model2rc3,model2rc4,model2rc5,model2rc6
0,a3P4u000004AEVcEAO,Application-429045,0.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,-99.0,-99998.0,-1.0,690,B075,B040,B055,B112,NaN,NaN
1,a3P4u0000049QaSEAU,Application-409179,3.0,1.0,2.0,-98.0,-98.0,-97.0,-98.0,0.0,...,1.0,79537.0,2740000.0,605,B075,B022,B040,B101,NaN,NaN
2,a3P4u000004AdtZEAS,Application-440656,0.0,0.0,1.0,-98.0,-98.0,-98.0,-98.0,0.0,...,0.0,-99998.0,102000.0,752,BF110,B112,B038,B111,NaN,NaN
3,a3P4u000004AqoNEAS,Application-446972,0.0,4.0,4.0,-98.0,-98.0,33400.0,23400.0,0.0,...,2.0,-99998.0,113000.0,713,BF141,B075,BF135,B055,NaN,NaN
4,a3P4u000004AWjXEAW,Application-437186,3.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,-99.0,3511.0,-1.0,564,B040,B103,B022,B026,NaN,NaN

## Pull original data (BCG Prev 2022)

In [ ]:
df_current_2021 = pd.read_csv("../data_sources/bcg_original_data/data_lexisnexis.csv")

df_current_2021.head()

                 name  b2bcnt2y  model2score  sbfecardcount
0  Application-429045       0.0          690          -99.0
1  Application-409179       3.0          605            1.0
2  Application-440656       0.0          752            0.0
3  Application-446972       0.0          713            4.0
4  Application-437186       3.0          564          -99.0

## Compare number of rows

In [ ]:

print("Comparing the two dataframes: rows")

print("New data 2021: ", df_new_2021.shape[0])
print("Current data 2021: ", df_current_2021.shape[0])

print("Comparing the two dataframes: columns")

print("New data 2021: ", df_new_2021.shape[1])
print("Current data 2021: ", df_current_2021.shape[1])

print("Comparing the two dataframes: columns names")

print("New data 2021: ", df_new_2021.columns)
print("Current data 2021: ", df_current_2021.columns)

print("Comparing the two dataframes: data types")

print("New data 2021: ", df_new_2021.dtypes)
print("Current data 2021: ", df_current_2021.dtypes)

print("Comparing the two dataframes: empty values")

print("New data 2021: ", df_new_2021.isnull().sum())
print("Current data 2021: ", df_current_2021.isnull().sum())

Comparing the two dataframes: rows
New data 2021:  52468
Current data 2021:  52468
Comparing the two dataframes: columns
New data 2021:  21
Current data 2021:  4
Comparing the two dataframes: columns names
New data 2021:  Index(['accountnumber', 'name', 'b2bcnt2y', 'sbfecardcount',
       'sbfeaccountcount', 'sbfecurrentlimitlineamt',
       'sbfecurrentlimitoelineamt', 'sbfecurrentlimitcardamt',
       'sbfelimitrevamt12m', 'sbfeopenlinecount', 'sbfeopenoelinecount',
       'sbfeopencardcount', 'b2bbalmax2y', 'firmreportedsales', 'model2score',
       'model2rc1', 'model2rc2', 'model2rc3', 'model2rc4', 'model2rc5',
       'model2rc6'],
      dtype='object')
Current data 2021:  Index(['name', 'b2bcnt2y', 'model2score', 'sbfecardcount'], dtype='object')
Comparing the two dataframes: data types
New data 2021:  accountnumber                 object
name                          object
b2bcnt2y                     float64
sbfecardcount                float64
sbfeaccountcount             float64
sbfecurrentlimitlineamt      float64
sbfecurrentlimitoelineamt    float64
sbfecurrentlimitcardamt      float64
sbfelimitrevamt12m           float64
sbfeopenlinecount            float64
sbfeopenoelinecount          float64
sbfeopencardcount            float64
b2bbalmax2y                  float64
firmreportedsales            float64
model2score                    int64
model2rc1                     object
model2rc2                     object
model2rc3                     object
model2rc4                     object
model2rc5                    float64
model2rc6                    float64
dtype: object
Current data 2021:  name              object
b2bcnt2y         float64
model2score        int64
sbfecardcount    float64
dtype: object
Comparing the two dataframes: empty values
New data 2021:  accountnumber                    0
name                             0
b2bcnt2y                        13
sbfecardcount                   13
sbfeaccountcount                13
sbfecurrentlimitlineamt         13
sbfecurrentlimitoelineamt       13
sbfecurrentlimitcardamt         13
sbfelimitrevamt12m              13
sbfeopenlinecount               13
sbfeopenoelinecount             13
sbfeopencardcount               13
b2bbalmax2y                     13
firmreportedsales               13
model2score                      0
model2rc1                     6859
model2rc2                     6875
model2rc3                     6924
model2rc4                     6981
model2rc5                    52468
model2rc6                    52468
dtype: int64
Current data 2021:  name              0
b2bcnt2y         13
model2score       0
sbfecardcount    13
dtype: int64

## Merge data

In [21]:
merged_df = pd.merge(df_new_2021, df_current_2021, how='inner', left_on='name', right_on='name')

merged_df.head()

,accountnumber,name,b2bcnt2y_x,sbfecardcount_x,sbfeaccountcount,sbfecurrentlimitlineamt,sbfecurrentlimitoelineamt,sbfecurrentlimitcardamt,sbfelimitrevamt12m,sbfeopenlinecount,...,model2score_x,model2rc1,model2rc2,model2rc3,model2rc4,model2rc5,model2rc6,b2bcnt2y_y,model2score_y,sbfecardcount_y
0,a3P4u000004AEVcEAO,Application-429045,0.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,690,B075,B040,B055,B112,NaN,NaN,0.0,690,-99.0
1,a3P4u0000049QaSEAU,Application-409179,3.0,1.0,2.0,-98.0,-98.0,-97.0,-98.0,0.0,...,605,B075,B022,B040,B101,NaN,NaN,3.0,605,1.0
2,a3P4u000004AdtZEAS,Application-440656,0.0,0.0,1.0,-98.0,-98.0,-98.0,-98.0,0.0,...,752,BF110,B112,B038,B111,NaN,NaN,0.0,752,0.0
3,a3P4u000004AqoNEAS,Application-446972,0.0,4.0,4.0,-98.0,-98.0,33400.0,23400.0,0.0,...,713,BF141,B075,BF135,B055,NaN,NaN,0.0,713,4.0
4,a3P4u000004AWjXEAW,Application-437186,3.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,564,B040,B103,B022,B026,NaN,NaN,3.0,564,-99.0

In [ ]:

print(f"Number of rows where b2bcnt2y_x is not null and b2bcnt2y_y is null: {merged_df[(merged_df['b2bcnt2y_x'].notnull()) & (merged_df['b2bcnt2y_y'].isnull())].shape[0]}")

print(f"Number of rows where b2bcnt2y_x is null and b2bcnt2y_y is not null: {merged_df[(merged_df['b2bcnt2y_x'].isnull()) & (merged_df['b2bcnt2y_y'].notnull())].shape[0]}")

print(f"Number of rows where b2bcnt2y_x is not null and b2bcnt2y_y is not null: {merged_df[(merged_df['b2bcnt2y_x'].notnull()) & (merged_df['b2bcnt2y_y'].notnull())].shape[0]}")

print(f"Number of rows where b2bcnt2y_x is null and b2bcnt2y_y is null: {merged_df[(merged_df['b2bcnt2y_x'].isnull()) & (merged_df['b2bcnt2y_y'].isnull())].shape[0]}")

Number of rows where b2bcnt2y_x is not null and b2bcnt2y_y is null: 0
Number of rows where b2bcnt2y_x is null and b2bcnt2y_y is not null: 0
Number of rows where b2bcnt2y_x is not null and b2bcnt2y_y is not null: 52455
Number of rows where b2bcnt2y_x is null and b2bcnt2y_y is null: 13

In [ ]:

print(f"Number of rows where b2bcnt2y_x is equal to b2bcnt2y_y: {merged_df[merged_df['b2bcnt2y_x'] == merged_df['b2bcnt2y_y']].shape[0]}")
print(f"Number of rows where b2bcnt2y_x is not equal to b2bcnt2y_y: {merged_df[merged_df['b2bcnt2y_x'] != merged_df['b2bcnt2y_y']].shape[0]}")

print(f"Number of rows where model2score_x is equal to model2score_y: {merged_df[merged_df['model2score_x'] == merged_df['model2score_y']].shape[0]}")
print(f"Number of rows where model2score_x is not equal to model2score_y: {merged_df[merged_df['model2score_x'] != merged_df['model2score_y']].shape[0]}")

print(f"Number of rows where sbfecardcount_x is equal to sbfecardcount_y: {merged_df[merged_df['sbfecardcount_x'] == merged_df['sbfecardcount_y']].shape[0]}")
print(f"Number of rows where sbfecardcount_x is not equal to sbfecardcount_y: {merged_df[merged_df['sbfecardcount_x'] != merged_df['sbfecardcount_y']].shape[0]}")

Number of rows where b2bcnt2y_x is equal to b2bcnt2y_y: 52455
Number of rows where b2bcnt2y_x is not equal to b2bcnt2y_y: 13
Number of rows where model2score_x is equal to model2score_y: 52468
Number of rows where model2score_x is not equal to model2score_y: 0
Number of rows where sbfecardcount_x is equal to sbfecardcount_y: 52455
Number of rows where sbfecardcount_x is not equal to sbfecardcount_y: 13

# 2022

## Pull new data (2022)

In [33]:
df_new_2022 = pd.read_csv("../data_sources/new_data/final_wex_11795_otradjud_sba21_sbfe_sbfescore.csv")

df_new_2022 = df_new_2022[["accountnumber",
                            # "name",
                            "b2bcnt2y",
                            "sbfecardcount", 
                            "sbfeaccountcount",
                            "sbfecurrentlimitlineamt",
                            "sbfecurrentlimitoelineamt",
                            "sbfecurrentlimitcardamt",
                            "sbfelimitrevamt12m",
                            "sbfeopenlinecount",
                            "sbfeopenoelinecount",
                            "sbfeopencardcount",
                            "b2bbalmax2y",
                            "firmreportedsales",
                            "model2score", 
                            "model2rc1",
                            "model2rc2",
                            "model2rc3",
                            "model2rc4",
                            "model2rc5",
                            "model2rc6"]]

df_new_2022.head()

C:\Users\W515059\AppData\Local\Temp\ipykernel_22320\2851686695.py:1: DtypeWarning: Columns (105,124) have mixed types. Specify dtype option on import or set low_memory=False.
  df_new_2022 = pd.read_csv("../data_sources/new_data/final_wex_11795_otradjud_sba21_sbfe_sbfescore.csv")

,accountnumber,b2bcnt2y,sbfecardcount,sbfeaccountcount,sbfecurrentlimitlineamt,sbfecurrentlimitoelineamt,sbfecurrentlimitcardamt,sbfelimitrevamt12m,sbfeopenlinecount,sbfeopenoelinecount,sbfeopencardcount,b2bbalmax2y,firmreportedsales,model2score,model2rc1,model2rc2,model2rc3,model2rc4,model2rc5,model2rc6
0,a3P0g000002efENEAY,-99999.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99999.0,-1.0,222,NaN,NaN,NaN,NaN,NaN,NaN
1,a3P0g000002ekSREAY,-99999.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99999.0,-1.0,222,NaN,NaN,NaN,NaN,NaN,NaN
2,a3P0g000002eq1rEAA,0.0,1.0,4.0,-98.0,-98.0,-98.0,-98.0,0.0,0.0,0.0,-99998.0,1573000.0,607,BF141,BF133,B026,BF117,NaN,NaN
3,a3P0g000002evZgEAI,0.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99998.0,-1.0,723,B112,B036,B057,B111,NaN,NaN
4,a3P0g000002ewhgEAA,0.0,1.0,1.0,-98.0,-98.0,-98.0,-98.0,0.0,0.0,0.0,-99998.0,66000.0,694,B075,BF110,B026,B022,NaN,NaN

## Pull original data (BCG 2022)

In [34]:
df_current_2022 = pd.read_csv("../data_sources/bcg_original_data/data_lexisnexis_2022.csv")

df_current_2022.head()

        accountnumber  b2bcnt2y  model2score  sbfecardcount
0  a3P0g000002efENEAY  -99999.0          222          -99.0
1  a3P0g000002ekSREAY  -99999.0          222          -99.0
2  a3P0g000002eq1rEAA       0.0          607            1.0
3  a3P0g000002evZgEAI       0.0          723          -99.0
4  a3P0g000002ewhgEAA       0.0          694            1.0

## Compare number of rows

In [35]:

print("Comparing the two dataframes: rows")

print("New data 2022: ", df_new_2022.shape[0])
print("Current data 2022: ", df_current_2022.shape[0])

print("Comparing the two dataframes: columns")

print("New data 2022: ", df_new_2022.shape[1])
print("Current data 2022: ", df_current_2022.shape[1])

print("Comparing the two dataframes: columns names")

print("New data 2022: ", df_new_2022.columns)
print("Current data 2022: ", df_current_2022.columns)

print("Comparing the two dataframes: data types")

print("New data 2022: ", df_new_2022.dtypes)
print("Current data 2022: ", df_current_2022.dtypes)

print("Comparing the two dataframes: empty values")

print("New data 2022: ", df_new_2022.isnull().sum())
print("Current data 2022: ", df_current_2022.isnull().sum())

Comparing the two dataframes: rows
New data 2022:  112523
Current data 2022:  112523
Comparing the two dataframes: columns
New data 2022:  20
Current data 2022:  4
Comparing the two dataframes: columns names
New data 2022:  Index(['accountnumber', 'b2bcnt2y', 'sbfecardcount', 'sbfeaccountcount',
       'sbfecurrentlimitlineamt', 'sbfecurrentlimitoelineamt',
       'sbfecurrentlimitcardamt', 'sbfelimitrevamt12m', 'sbfeopenlinecount',
       'sbfeopenoelinecount', 'sbfeopencardcount', 'b2bbalmax2y',
       'firmreportedsales', 'model2score', 'model2rc1', 'model2rc2',
       'model2rc3', 'model2rc4', 'model2rc5', 'model2rc6'],
      dtype='object')
Current data 2022:  Index(['accountnumber', 'b2bcnt2y', 'model2score', 'sbfecardcount'], dtype='object')
Comparing the two dataframes: data types
New data 2022:  accountnumber                 object
b2bcnt2y                     float64
sbfecardcount                float64
sbfeaccountcount             float64
sbfecurrentlimitlineamt      float64
sbfecurrentlimitoelineamt    float64
sbfecurrentlimitcardamt      float64
sbfelimitrevamt12m           float64
sbfeopenlinecount            float64
sbfeopenoelinecount          float64
sbfeopencardcount            float64
b2bbalmax2y                  float64
firmreportedsales            float64
model2score                    int64
model2rc1                     object
model2rc2                     object
model2rc3                     object
model2rc4                     object
model2rc5                    float64
model2rc6                    float64
dtype: object
Current data 2022:  accountnumber     object
b2bcnt2y         float64
model2score        int64
sbfecardcount    float64
dtype: object
Comparing the two dataframes: empty values
New data 2022:  accountnumber                     0
b2bcnt2y                         30
sbfecardcount                    30
sbfeaccountcount                 30
sbfecurrentlimitlineamt          30
sbfecurrentlimitoelineamt        30
sbfecurrentlimitcardamt          30
sbfelimitrevamt12m               30
sbfeopenlinecount                30
sbfeopenoelinecount              30
sbfeopencardcount                30
b2bbalmax2y                      30
firmreportedsales                30
model2score                       0
model2rc1                     14032
model2rc2                     14075
model2rc3                     14198
model2rc4                     14347
model2rc5                    112523
model2rc6                    112523
dtype: int64
Current data 2022:  accountnumber     0
b2bcnt2y         30
model2score       0
sbfecardcount    30
dtype: int64

## Merge Data

In [37]:
merged_df_2022 = pd.merge(df_new_2022, df_current_2022, how='inner', left_on='accountnumber', right_on='accountnumber')

merged_df_2022.head()

,accountnumber,b2bcnt2y_x,sbfecardcount_x,sbfeaccountcount,sbfecurrentlimitlineamt,sbfecurrentlimitoelineamt,sbfecurrentlimitcardamt,sbfelimitrevamt12m,sbfeopenlinecount,sbfeopenoelinecount,...,model2score_x,model2rc1,model2rc2,model2rc3,model2rc4,model2rc5,model2rc6,b2bcnt2y_y,model2score_y,sbfecardcount_y
0,a3P0g000002efENEAY,-99999.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,222,NaN,NaN,NaN,NaN,NaN,NaN,-99999.0,222,-99.0
1,a3P0g000002ekSREAY,-99999.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,222,NaN,NaN,NaN,NaN,NaN,NaN,-99999.0,222,-99.0
2,a3P0g000002eq1rEAA,0.0,1.0,4.0,-98.0,-98.0,-98.0,-98.0,0.0,0.0,...,607,BF141,BF133,B026,BF117,NaN,NaN,0.0,607,1.0
3,a3P0g000002evZgEAI,0.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,723,B112,B036,B057,B111,NaN,NaN,0.0,723,-99.0
4,a3P0g000002ewhgEAA,0.0,1.0,1.0,-98.0,-98.0,-98.0,-98.0,0.0,0.0,...,694,B075,BF110,B026,B022,NaN,NaN,0.0,694,1.0

In [38]:

print(f"Number of rows where b2bcnt2y_x is not null and b2bcnt2y_y is null: {merged_df_2022[(merged_df_2022['b2bcnt2y_x'].notnull()) & (merged_df_2022['b2bcnt2y_y'].isnull())].shape[0]}")

print(f"Number of rows where b2bcnt2y_x is null and b2bcnt2y_y is not null: {merged_df_2022[(merged_df_2022['b2bcnt2y_x'].isnull()) & (merged_df_2022['b2bcnt2y_y'].notnull())].shape[0]}")

print(f"Number of rows where b2bcnt2y_x is not null and b2bcnt2y_y is not null: {merged_df_2022[(merged_df_2022['b2bcnt2y_x'].notnull()) & (merged_df_2022['b2bcnt2y_y'].notnull())].shape[0]}")

print(f"Number of rows where b2bcnt2y_x is null and b2bcnt2y_y is null: {merged_df_2022[(merged_df_2022['b2bcnt2y_x'].isnull()) & (merged_df_2022['b2bcnt2y_y'].isnull())].shape[0]}")

Number of rows where b2bcnt2y_x is not null and b2bcnt2y_y is null: 0
Number of rows where b2bcnt2y_x is null and b2bcnt2y_y is not null: 0
Number of rows where b2bcnt2y_x is not null and b2bcnt2y_y is not null: 112493
Number of rows where b2bcnt2y_x is null and b2bcnt2y_y is null: 30

In [39]:

print(f"Number of rows where b2bcnt2y_x is equal to b2bcnt2y_y: {merged_df_2022[merged_df_2022['b2bcnt2y_x'] == merged_df_2022['b2bcnt2y_y']].shape[0]}")
print(f"Number of rows where b2bcnt2y_x is not equal to b2bcnt2y_y: {merged_df_2022[merged_df_2022['b2bcnt2y_x'] != merged_df_2022['b2bcnt2y_y']].shape[0]}")

print(f"Number of rows where model2score_x is equal to model2score_y: {merged_df_2022[merged_df_2022['model2score_x'] == merged_df_2022['model2score_y']].shape[0]}")
print(f"Number of rows where model2score_x is not equal to model2score_y: {merged_df_2022[merged_df_2022['model2score_x'] != merged_df_2022['model2score_y']].shape[0]}")

print(f"Number of rows where sbfecardcount_x is equal to sbfecardcount_y: {merged_df_2022[merged_df_2022['sbfecardcount_x'] == merged_df_2022['sbfecardcount_y']].shape[0]}")
print(f"Number of rows where sbfecardcount_x is not equal to sbfecardcount_y: {merged_df_2022[merged_df_2022['sbfecardcount_x'] != merged_df_2022['sbfecardcount_y']].shape[0]}")

Number of rows where b2bcnt2y_x is equal to b2bcnt2y_y: 112493
Number of rows where b2bcnt2y_x is not equal to b2bcnt2y_y: 30
Number of rows where model2score_x is equal to model2score_y: 112523
Number of rows where model2score_x is not equal to model2score_y: 0
Number of rows where sbfecardcount_x is equal to sbfecardcount_y: 112493
Number of rows where sbfecardcount_x is not equal to sbfecardcount_y: 30